

.jumbotron {
	background-color: lavender;
	position: relative;
}

.jumbotron-overlay {
	position: absolute;
	top: 25%;
	left: 0%;
    width: 100%;
    text-align: center;
}

.jumbotron-overlay h1 {
	color: #FEFFF1;
	text-align: center;
}

.jumbotron-overlay h2 {
	color: #FEFFF1;
	text-align: center;
	
	/*padding-right: 268px;*/
}

#portrain {
	width: 500px;
	height: auto;
}

.main {
	padding: 5px 8px;
	margin: 5px;
}

.blog-title {
	color: azure;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    #portrait {
    	max-width: 360px;
    	max-height: 388px;
    }
    
    .jumbotron-overlay h1, h2{
    	margin: 2px auto;
    }
}